<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TP 7 - LorenzoRD</title>
		<link rel="stylesheet" href="/css/styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body>
		{{> header}}
		
		{{{body}}}

		{{> modalContainer this}}		

		<script src="/js/basicFunctions.js"></script>
		<script src="/js/ajax.js"></script>
		<script src="/js/DOM-Functions.js"></script>
	</body>
</html>