<div class="container-sm">
    <div class="mb-3 form-group">
        <h2>Crear cuenta</h2>
    </div>
    <div class="mb-3 form-group">
        <label for="createAccountNameID" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="createAccountNameID" placeholder="Nombre">
    </div>
    <div class="mb-3 form-group">
        <label for="createAccountSurnameID" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="createAccountSurnameID" placeholder="Apellido">
    </div>
    <div class="mb-3 form-group">
        <label for="createAccountDNI-ID" class="form-label">DNI</label>
        <input type="number" class="form-control" id="createAccountDNI-ID" placeholder="DNI">
    </div>
    <div class="mb-3 form-group">
        <label for="createAccountEmailID" class="form-label">Email (identificador)</label>
        <input type="email" class="form-control" id="createAccountEmailID" placeholder="Email">
    </div>
    <div class="mb-3 form-group">
        <label for="createAccountPasswordID" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="createAccountPasswordID" placeholder="Contraseña">
    </div>
    <div class="mb-3 form-check">
        <button type="button" class="btn btn-primary" onclick="createAccount()">Crear Cuenta</button>
    </div>
</div>

<form id="returnLoginForm" action="/" method="GET" class="container-sm"></form>

<div class="text-center mb-3">
    <a href="/" class="btn btn-primary btn-lg">Volver</a>
</div>
